p:hover{
    color: blue;
}

p::selection{
    color: green;
    background-color: yellow;
}

html{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 60px;
    text-align: center;
}

p,li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html{
    background-color: #f0f0f0;
}

body{
    width: 600px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1{
    margin: 0;
    padding: 20px 0;
    color: #435f7a;
    text-shadow: 3px 3px 1px black;
}

img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
